---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "高一（1）班",
    description:
      "高一年级的重点班，传奇教务处主任吴娟所统治的神秘之地。",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "高一（2）班",
    description:
      "程伍治下的班级，永远有一种松弛感，前高一二班学生无不怀念程伍的",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "高一（3）班",
    description:
      "一个疑似有些抽象的班级，在班主任高一年级抽象数学大师嘉靖皇帝苏宝雅的带领下，向着抽象之路一路狂奔。  ",
    icon: "bx:bxs-data",
  },
  {
    title: "高一（4）班",
    description:
      "不知道四班的同学们是如何在欢哥的统治下活下去的。",
    icon: "bx:bxs-bot",
  },
  {
    title: "高一（5）班",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "高一（6）班",
    description:
      "这是一个神秘的班级，只存在于传说之中，在校园中常常有人自称高一（6）班的学生，如果您遇到了此类情况，请迅速肘击对方，并大喊“What can I say? Man! Manba out!”",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    合肥市长江中学的高一班级
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    此处未完成，等待进行简介补充。
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
