---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.png";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      合肥市长江中学校园网站
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      欢迎来到合肥市长江中学校园网站。<wbr />
      该网站由长江中学学生制作，托管在GitHub上。<wbr />
      祝您在长江中学度过一个愉快的三年。
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://github.com/silencieuxzero/yangtzeriver.github.io"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

        下载源文件
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/silencieuxzero/yangtzeriver.github.io"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        GitHub 仓库
      </Link>
    </div>
  </div>
</main>
